header
    include nav
    .showcase
        h1.mainHeader
            | GOODBYE JUNK FOOD. 
            br
            |                 HELLO SUPER HEALTHY MEALS
        .btns
            a.btn(href='') I'm hungry
            a.btn.btn-empty(href='') Show me more

