.fullcard
    .card
        p.tag #{plan.name}
        h4 $#{plan.price} / #{plan.duration}
        p.tag That's only $13.30 per meal
        .facility
            i.fas.fa-check-circle.icon2
            p.howto-para 1 meal every day
        .facility
            i.fas.fa-check-circle.icon2
            p.howto-para order 24/7
        .facility
            i.fas.fa-check-circle.icon2
            p.howto-para Acces to newest creations
        .facility
            i.fas.fa-check-circle.icon2
            p.howto-para Free delivery
        if user
            a.btn.btn-sign.bookPlan(href="javascript:void(0);" planId = `${plan["_id"]}`) Sign up now
