a:link,
a:visited {
    
    text-decoration: none !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 100% !important;
    height: 100vh !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10 !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.modal__content {
    width: 35% !important;
    height: 55% !important;
    background-color: white !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 2rem !important;
    border-radius: 1rem !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

#modal1:target {
    opacity: 1 !important;
    visibility: visible !important;
}

#modal1:target .modal__content {
    opacity: 1 !important;
    visibility: visible !important;
}

.modal__close {
    color: #363636 !important;
    font-size: 2rem !important;
    position: absolute !important;
    top: .5rem !important;
    right: 1rem !important;
}

.modal__heading {
    color: blue !important;
    margin-left: 40% !important;
    margin-bottom: 1rem !important;
}

.modal__paragraph {
    line-height: 1.5rem !important;
}

.modal-open {
    
}